.card {
    background-color: white;
    display: flex;
    /* min-height: calc(100vh - 75px); */
    flex-direction: row;
    gap: 6rem;
    width: 25%;
    z-index: 1;
    position: fixed;
}

.left {

    display: flex;
    flex-direction: row;
}

.fsq {
    display: flex;
    align-items: center;
    padding: 10px;
    flex-basis: 10%;
    background-color: red;
}

.restDetails {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.restName {
    color: #2956E7;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
}

.cuisines {
    color: #959BA4;
    font-family: Helvetica;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 17px;
}

.address {
    color: #959BA4;
    font-family: Helvetica;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 17px;
}

.rating {
    border-radius: 3px;
    background-color: #F5A623;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
    height: 30px;
    width: 30px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rate {
    padding: 15px;

}